[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/@gearbox-protocol/router-v3"]
	path = lib/@gearbox-protocol/router-v3
	url = https://github.com/Gearbox-protocol/router-v3
